<div class="container">
    <h1>Recipe Details</h1>

    <hr>
    <div class="row">

        <div class="col-md-6">

            <div class="card" style="width: 18rem;">

                <img src="{{recipeData.imageUrl}}" class="card-img-top" alt="{{recipeData.title}}">

                <div class="card-body">
                    <h5 class="card-title">{{recipeData.title}}</h5>
                    <p class="card-text">{{recipeData.description}}</p>

                    <ul>
                        <li>{{recipeData.ingredients.[0]}}</li>
                        <li>{{recipeData.ingredients.[1]}}</li>
                        <li>{{recipeData.ingredients.[2]}}</li>
                        <li>{{recipeData.ingredients.[3]}}</li>
                        <li>{{recipeData.ingredients.[4]}}</li>
                    </ul>

                </div>

                <form action="/comments/{{recipeData._id}}/comment" method="POST">

                    <div class="mb-3">
                        <label for="comment" class="form-label">Example textarea</label>
                        <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-dark">Comment</button>
                    </div>

                </form>

                <form action="/users/{{recipeData._id}}/favRecipes" method="POST" style="display: inline-block">
                    <input type="submit" value="FAV" name="FAV" id="FAV" class="btn btn-danger btn-sm">
                </form>

            </div>

        </div>

        <div class="col-md-6">

            <h2>Comments</h2>

            <hr>

            {{#each commentsData}}
            <p>{{comment}}</p>
            {{/each}}

        </div>

    </div>

</div>