<div class="container">
    <h1>Recipe Details</h1>

    <hr>

    <div class="card" style="width: 18rem;">

        <img src="{{recipeData.imageUrl}}" class="card-img-top" alt="{{recipeData.title}}">

        <div class="card-body">
            <h5 class="card-title">{{recipeData.title}}</h5>
            <p class="card-text">{{recipeData.description}}</p>
            {{!-- {{#each ingredients}}

            {{/each}} --}}
            <p></p>
        </div>

        <form action="/comments/{{recipeData._id}}/comment" method="POST">

            <div class="mb-3">
                <label for="comment" class="form-label">Example textarea</label>
                <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-dark">Comment</button>
            </div>

        </form>

    </div>

</div>